html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200, 1.0); /* optional */
}

canvas {
  display: block;
}